body{
    background-color: rgb(170, 186, 199);
}


@media (min-width: 600px) {
    body div{
        display: flex;
        justify-content: center;
    }
    h1{
        color: rgba(0, 0, 0, 0.785);
        text-transform: uppercase;
        text-align: center;
    }
    form {
        display: block;
        background-color: antiquewhite;
        position: relative;
        padding: 1em 2em 1em 2em;
        width: fit-content;
        min-width: 30%;
        border-radius: 10px;
    }
    form p {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    form p button {
        margin-right: 1em;
    }
    #test p {
        display: flex;
        justify-content: flex-start;
    }
    .test-types {
        display: grid;
    }
    
}
@media (max-width: 599px) {
    body div{
        display: block;
        justify-content: center;
    }
    h1{
        color: rgba(0, 0, 0, 0.785);
        text-transform: uppercase;
        text-align: center;
    }
    form {
        background-color: antiquewhite;
        padding: 1em 2em 1em 2em;
        min-width: 30%;
    }
    form p {
        display: block;
        justify-content: flex-end;
        gap: 10px;
    }
    form p button {
        margin-right: 1em;
        box-sizing: border-box;
        width: 90%;
    }
    #test p {
        display: flex;
        justify-content: flex-start;
    }
    
}