@media screen and (min-width: 300px) {
body {
    display:grid;
    overflow-x: hidden;
    font-family: 'Anton', sans-serif;
    font-family: 'Bacasime Antique', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    padding-left: 10px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: rgb(109, 90, 84);
}
#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    width: fit-content;
}
div h1{
    text-align: right;
    margin: 10px;
    padding-left: 10px;
    padding-right: 100px; 
}
#nav-pan {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: sticky;
    top: 0px;
    background-color: rgb(109, 90, 84);
    height: min-content;
    z-index: 2;
}

#nav-pan ul {
    display: flex;
    float: right;
    gap: 35px;
    height: fit-content;
    flex-wrap: wrap;
    row-gap: 2px;
    padding-right: 100px;
}

#nav-pan ul li {
    list-style: none;
    letter-spacing: 2px;
    font-weight: 800;
}
#nav-pan ul li:hover, #nav-pan ul li a:focus {
    font-size: large
}
#nav-pan ul li a:active {
    color: white;
}
#nav-pan ul li a {
    text-decoration: none;
    color: black;
}

.search {
    display: flex;
    height: 250px;
    background-color: rgba(0,0,0,0.7);
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 5px;
}
.search div {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;

}
#search {
    background-image: url(search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 3px;  
    width: 30%;
    height: 24px;
    padding-left: 30px;
    border: none;
    border-radius: 5px;
}
.search form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
input:focus {
    background: white;
    border-radius: none;
}
.search form button{
    border: none;
    border-radius: 5px;
    background-color: rgb(109, 90, 84);
    height: 25px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-left: 20px;
    color: white;
    box-shadow: 0 2px 5px black;
}
.search form button:hover, .search form button:focus{
    border: 1px solid white;
    cursor: pointer;
    box-shadow: o 2px 2px grey;
    color: black;
}
.search form button:active{
    background-color: rgb(85, 71, 66);
    border: none;
    box-shadow: none;

}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-top: 80px;
    letter-spacing: 10px;
}
#text-box {
    border: 3px black solid;
    width: 200px;
    height: 100px;
    background-color: white;
    display: none;
    position: absolute;   
}
#text-name {
    border: 3px black solid;
    width: 200px;
    height: 50px;
    background-color: white;
    display: none;
    position: absolute;   
}
#text-nav {
    border: 3px black solid;
    width: 200px;
    height: 100px;
    background-color: white;
    display: none;
    position: absolute;   
}
#panels, #course-panels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    grid-auto-rows: minmax(100px, auto);
}
#main-panel, #course-panel {
    padding-left: 50px;
    padding-right: 50px;
}
#main-panel h2, #course-panel h2{
    width: 100%;
    text-align: center;
    margin: 1.5em;
}
#panels div, #course-panels div{
    display: flex;
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    align-items: flex-end;
    margin: 0;
}

#panels div p, #course-panel div p{
    font-family: 'Anton', sans-serif;
    font-family: 'Bacasime Antique', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    position: relative;
    bottom: 3px;
    width: 100%;
    text-align: center;
    height: 1.6em;
    color: rgba(255, 255,255, 0.7);
    background-color: rgba(0,0,0,0.8);
    margin: 0
}

#panels div p:hover, #course-panel div p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#course-panel {
    background-color: rgba(61, 61, 61, 0.259);
}
#course-panel #course-panels div {
    background-color: rgb(38, 158, 25);
}
#course-panel #course-panels div p{
    background-color: rgb(15, 151, 102);
    color: black;
}
.newsletter{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: start;
    margin-top: 10px;
    background-color: aquamarine;
    height: 200px;
    padding-left: 30px;
}
.newsletter form {
    gap: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}
.newsletter h2 {
    padding-left: 100px;
}
.newsletter form input, select{
    padding: 10px 5px;
    border-radius: 10px;
}
.newsletter form button{
    color: white;
    text-decoration: double;
    background-color:#009999;
    border: none;
    border-radius: 10px;
}
.newsletter form button:hover {
    cursor: pointer;
}
footer {
    display: grid;
    grid-template-rows: 2fr 1fr;
    color: white;
    margin-top: 10px;
    background-color: black;
    justify-content: center;
    padding-top: 50px;
    justify-items: center;
}
footer ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}
footer ul li a{
    text-decoration: none;
    color: inherit ;
}
}
